target
test-output
.classpath
.settings
.project
.clover
.externalToolBuilders
MANIFEST.MF
dependency-reduced-pom.xml
*.orig
.idea
*.iml
rebel.xml
*.faces-config.xml.jsfdia
*.faces-config.NavData
*~
phantomjsdriver.log
