.bs-sidenav {
    margin-top: 30px;
    margin-bottom: 30px;
    padding-top: 15px;
    padding-bottom: 15px;
    text-shadow: 0 1px 0 #fff;
    background-color: #f5f5f5;
    border-radius: 5px;
}

/* All levels of nav */
.bs-sidebar .nav>li>a {
    display: block;
    color: #666;
    padding: 4px 20px;
}

.bs-sidebar .nav>li>a:hover,.bs-sidebar .nav>li>a:focus {
    text-decoration: none;
    border-right: 1px solid #d5d5d5;
}

.bs-sidebar .nav>.active>a,.bs-sidebar .nav>.active:hover>a,.bs-sidebar .nav>.active:focus>a {
    font-weight: 500;
    color: #b94a48;
    background-color: transparent;
    border-right: 1px solid #b94a48;
}